pics/a.png
pics/average.png
pics/convolution.png
pics/gray-scale.png
pics/median.png
pics/noised.png
pics/noised-gray-scale.png
pics/prewitt.png
pics/sobel.png
noise
test
.vscode
average-filter
convolution
gray
median
CMakeFiles
CMakeCache.txt
cmake_install.cmake
bin
lib
Makefile
src/grayscale-transform/Makefile
